.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* Left margin */
.margin-left--0 {
  margin-left: 0 !important;
}
.margin-left--4 {
  margin-left: 4px !important;
}
.margin-left--8 {
  margin-left: 8px !important;
}
.margin-left--12 {
  margin-left: 12px !important;
}
.margin-left--16 {
  margin-left: 16px !important;
}
.margin-left--20 {
  margin-left: 20px !important;
}

/* Right margin */
.margin-right--0 {
  margin-right: 0 !important;
}
.margin-right--4 {
  margin-right: 4px !important;
}
.margin-right--8 {
  margin-right: 8px !important;
}
.margin-right--12 {
  margin-right: 12px !important;
}
.margin-right--16 {
  margin-right: 16px !important;
}
.margin-right--20 {
  margin-right: 16px !important;
}

/* Top margin */
.margin-top--0 {
  margin-top: 0 !important;
}
.margin-top--4 {
  margin-top: 4px !important;
}
.margin-top--8 {
  margin-top: 8px !important;
}
.margin-top--12 {
  margin-top: 12px !important;
}
.margin-top--16 {
  margin-top: 16px !important;
}
.margin-top--20 {
  margin-top: 20px !important;
}

/* Bottom margin */
.margin-bottom--0 {
  margin-bottom: 0 !important;
}
.margin-bottom--4 {
  margin-bottom: 4px !important;
}
.margin-bottom--8 {
  margin-bottom: 8px !important;
}
.margin-bottom--12 {
  margin-bottom: 12px !important;
}
.margin-bottom--16 {
  margin-bottom: 16px !important;
}
.margin-bottom--20 {
  margin-bottom: 20px !important;
}

/* Horizontal margin */
.margin-horizontal--0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.margin-horizontal--4 {
  margin-right: 4px !important;
  margin-left: 4px !important;
}
.margin-horizontal--8 {
  margin-right: 8px !important;
  margin-left: 8px !important;
}
.margin-horizontal--12 {
  margin-right: 12px !important;
  margin-left: 12px !important;
}
.margin-horizontal--16 {
  margin-right: 16px !important;
  margin-left: 16px !important;
}
.margin-horizontal--20 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

/* Vertical margin */
.margin-vertical--0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.margin-vertical--4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.margin-vertical--8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.margin-vertical--12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.margin-vertical--16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.margin-vertical--20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/* Left padding */
.padding-left--0 {
  padding-left: 0 !important;
}
.padding-left--4 {
  padding-left: 4px !important;
}
.padding-left--8 {
  padding-left: 8px !important;
}
.padding-left--12 {
  padding-left: 12px !important;
}
.padding-left--16 {
  padding-left: 16px !important;
}
.padding-left--20 {
  padding-left: 20px !important;
}
.padding-left--24 {
  padding-left: 24px !important;
}

/* Right padding */
.padding-right--0 {
  padding-right: 0 !important;
}
.padding-right--4 {
  padding-right: 4px !important;
}
.padding-right--8 {
  padding-right: 8px !important;
}
.padding-right--12 {
  padding-right: 12px !important;
}
.padding-right--16 {
  padding-right: 16px !important;
}
.padding-right--20 {
  padding-right: 20px !important;
}

/* Top padding */
.padding-top--0 {
  padding-top: 0 !important;
}
.padding-top--4 {
  padding-top: 4px !important;
}
.padding-top--8 {
  padding-top: 8px !important;
}
.padding-top--12 {
  padding-top: 12px !important;
}
.padding-top--16 {
  padding-top: 16px !important;
}
.padding-top--20 {
  padding-top: 20px !important;
}

/* Bottom padding */
.padding-bottom--0 {
  padding-bottom: 0 !important;
}
.padding-bottom--4 {
  padding-bottom: 4px !important;
}
.padding-bottom--8 {
  padding-bottom: 8px !important;
}
.padding-bottom--12 {
  padding-bottom: 12px !important;
}
.padding-bottom--16 {
  padding-bottom: 16px !important;
}
.padding-bottom--20 {
  padding-bottom: 20px !important;
}

/* Horizontal padding */
.padding-horizontal--0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.padding-horizontal--4 {
  padding-right: 4px !important;
  padding-left: 4px !important;
}
.padding-horizontal--8 {
  padding-right: 8px !important;
  padding-left: 8px !important;
}
.padding-horizontal--12 {
  padding-right: 12px !important;
  padding-left: 12px !important;
}
.padding-horizontal--16 {
  padding-right: 16px !important;
  padding-left: 16px !important;
}
.padding-horizontal--20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

/* Padding vertical */
.padding-vertical--0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.padding-vertical--4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.padding-vertical--8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.padding-vertical--12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.padding-vertical--16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.padding-vertical--20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}