h1 {
  font-size: 64px;
  line-height: 1;
  font-weight: 800;
  color: var(--text-color);
}
h6 {
  font-size: 21px;
}
p {
  font-size: 18px;
  margin: 20px 0;
  line-height: 26px;
  text-align: left;
  font-weight: 400;
  color: var(--text-color);
}
a {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}