h1 {
  &.title {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
    line-height: 50px;
    @include daynight;
  }
}


h6 {
  font-size: 21px;
}

p {
  font-size: 17px;
  margin: 24px 0;
  line-height: 28px;
  text-align: left;
  font-weight: 400;
  color: var(--text-color);
  @include daynight;
}

a {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;

  text-decoration: none;
  color: inherit;
  cursor: pointer;
  @include daynight;
}

.subtitle {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  @include daynight;
}

.link {
  @include daynight;
  text-decoration: underline;
}

.link__special {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: var(--current-fill-color);
    svg  {
      animation-duration: 0.9s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
      animation-name: shake;
      fill: var(--current-fill-color);
    }
  }

  @keyframes shake {
    0% {
      transform:translateX(0)
    }
    50%{
      transform:translateX(4px)
    }
    100% {
      transform:translateX(0)
    }
  }

  label {
    margin-right: 4px;
    cursor: pointer;
  }
  svg {
    cursor: pointer;
    width: 12px;
    height: 12px;
    fill: var(--text-color);
    @include daynight;
  }
}