h1 {
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  color: var(--text-color);
  margin-top: 0;
}
h6 {
  font-size: 21px;
}
p {
  font-size: 17px;
  margin: 24px 0;
  line-height: 28px;
  text-align: left;
  font-weight: 400;
  color: var(--text-color);
  @include daynight;
}
a {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  @include daynight;
}

.link {
  @include daynight;
  text-decoration: underline;
}

.link__special {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: var(--current-fill-color);
    .link__special--svg  {
      animation-duration: 0.9s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
      animation-name: shake;
      fill: var(--current-fill-color);
    }
  }

  @keyframes shake {
    0% {
      transform:translateX(0)
    }
    50%{
      transform:translateX(4px)
    }
    100% {
      transform:translateX(0)
    }
  }

  .link__special--label {
    margin-right: 4px;
    cursor: pointer;
  }
  .link__special--svg {
    cursor: pointer;
    width: 12px;
    height: 12px;
    fill: var(--text-color);
    @include daynight;
  }
}