:root {
  --neutral-color: #777;
  --essays-color: #0BD082;
  --projects-color: #A25AFB;
  --newsletter-color: #F45120;
  --twitter-color: #1EA0F2;

  --icon-toggle-shadow-hover: inset 0px 0px 0px 2px var(--neutral-color);
  --icon-toggle-shadow: inset 0px 0px 0px 2px var(--text-color);
  --card-shadow: 10px 10px 21px #ced3d9;

  --xs-border-radius: 2px;
  --sm-border-radius: 4px;
  --md-border-radius: 6px;
  --lg-border-radius: 8px;

  --nabvbar-height: 80px;

  /*
  ** Lightmode variables
  */
  --background-color: #fff;
  --accent-color: #eee;
  --accent-color-2: #DDDDDD;
  --accent-color-3: #D1D1D1;
  --text-color: #171717;

  --darkmode-toggle-translate: 50%;
}

[data-theme="dark"] {
  --background-color: #171717;
  --accent-color: #262528;
  --accent-color-2: #333135;
  --accent-color-3: #3F3C42;
  --text-color: #fff;

  --card-shadow: 10px 10px 21px #000;

  --darkmode-toggle-translate: -52.5%;
}