@mixin daynight {
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

@mixin colors {
  background-color: var(--background-color);
  color: var(--text-color);
}

@mixin colors-inverted {
  background-color: var(--text-color);
  color: var(--background-color);
}

@mixin selected-color {
  background-color: var(--selected-color);
  color: var(--background-color);
}