.nuxt-content {
  display: grid;
  grid-template-columns: 20px 16px 120px 1fr 120px 16px 20px;
  margin-bottom: 44px;
  * {
    grid-column-start: 3;
    grid-column-end: 6;
    + h2 { margin-top: 20px; }
    + h3 { margin-top: 12px; }
  }
  a {
    text-decoration: underline;
  }
  h2 {
    font-size: clamp(20px, 2.5vw, 24px);
    font-weight: 800;
    + * { margin-top: 4px; }
  }
  h3 {
    font-size: clamp(17px, 2.5vw, 18px);
    font-weight: 700;
    + * { margin-top: 2px; }
  }
  blockquote {
    grid-column-start: 2;
    grid-column-end: 6;
    border-left: 3px solid var(--text-color);
    margin: 16px 0;
    padding-left: 13px;
    p {
      font-style: italic;
      &:first-child { margin-top: 0; }
      &:last-child { margin-top: 0; }
      &:only-child { margin: 0; }
    }
  }
  code {
    font-family: Menlo, Consolas, "Andale Mono WT", "Andale Mono", Monaco, "Courier New", Courier, monospace;
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 14px;
    color: var(--text-color);
    text-shadow: none;
  }
  .nuxt-content-highlight {    
    grid-column-start: 2;
    grid-column-end: 7;
    pre {
      font-family: Consolas, "Andale Mono WT", "Andale Mono", Monaco, "Courier New", Courier, monospace;
      background-color: var(--accent-color);
      padding: 12px 16px 16px 16px;
      tab-size: 2;
      white-space: pre-wrap;
      word-break: normal;
      hyphens: none;
      border-radius: 8px;
      margin: 16px 0;
      line-height: 1.35;
      code {
        overflow-x: scroll;
        padding: 0;
      }
    }
  }
  ol, ul {
    margin-left: 16px;
    color: var(--essay-color);
  }
  ol { list-style-type: decimal; }
  ul { list-style-type: disc; }
  li {
    margin: 8px 0;
    padding-left: 4px;
    color: var(--text-color);
    > ul { margin-top: 4px; }
    &:first-child { margin-top: 0; }
  }
  hr {
    grid-column: 4;
    border: 1px solid var(--accent-color);
    margin: 28px 0;
    display: block;
  }

  @media (max-width: 767px) {
    grid-template-columns: 20px 16px 100px 1fr 100px 16px 20px;
  }
}

.nuxt-content.popover {
  display: grid;
  grid-template-columns: 12px 8px 80px 1fr 80px 8px 12px;
  margin-bottom: 20px;
  
  p { 
    margin: 8px 0;
    &:first-child { margin: 0; }
    &:last-child { margin: 0; }
  }

  li {
    margin: 4px 0;
  }
}