h1 {
  &.title {
    font-size: clamp(26px, 2.5vw, 36px);
    line-height: 1.22;
    font-weight: 700;
    color: var(--icon-color);
    margin: 0;
  }
}

p {
  line-height: 1.7;
  text-align: left;
  font-weight: 449;
  color: var(--text-color);
  margin: 12px 0;
  letter-spacing: -0.2px;
  em { font-style: italic; }
  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
  strong {
    font-weight: 649;
  }
}

a {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:active, &:focus, &:hover {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.subtitle {
  font-size: 11px;
  font-weight: 640;
  line-height: 1;
  text-transform: uppercase;
}

.link {
  text-decoration: underline;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
  font-size: 16px;
  line-height: 27px;
  > ol, ul {
    margin-left: 28px;
  }
}
ol { list-style-type: decimal; margin-bottom: 8px }
ul { list-style-type: disc; }
li {
  padding-left: 0;
  color: var(--text-color);
  &:first-child { margin-top: 0; }
}