h1 {
  &.title {
    font-size: clamp(26px, 2.5vw, 36px);
    line-height: 1.22;
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
    @include daynight;
  }
}

p {
  line-height: 1.7;
  text-align: left;
  font-weight: 449;
  color: var(--text-color);
  margin: 12px 0;
  letter-spacing: -0.2px;
  em { font-style: italic; }
  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
  @include daynight;
  strong {
    background: var(--accent-color-3);
  }
}

a {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:active, &:focus, &:hover {
    outline: none;
    border: none;
    box-shadow: none;
  }
  @include daynight;
}

.subtitle {
  font-size: 9.5px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  @include daynight;
}

.link {
  @include daynight;
  text-decoration: underline;
}

.link__special {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: var(--current-fill-color);
    svg  {
      animation-duration: 0.9s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
      animation-name: shake;
      fill: var(--current-fill-color);
    }
  }

  @keyframes shake {
    0% {
      transform:translateX(0)
    }
    50%{
      transform:translateX(4px)
    }
    100% {
      transform:translateX(0)
    }
  }

  label {
    margin-right: 4px;
    cursor: pointer;
  }
  svg {
    cursor: pointer;
    width: 12px;
    height: 12px;
    fill: var(--text-color);
    @include daynight;
  }
}