:root {
  --neutral-color: #777;
  --note-color: #0BD082;

  --icon-toggle-shadow-hover: inset 0px 0px 0px 1.5px var(--neutral-color);
  --icon-toggle-shadow: inset 0px 0px 0px 1.5px var(--text-color);
  --grid-column-shadow: 6px 0 16px 0 var(--background-color);
  --card-shadow: 6px 0 16px 0 #eee;
  
  --tablet: 768px;

  /*
  ** Lightmode variables
  */
  --background-color: #fff;
  --accent-color: #eee;
  --accent-color-2: #DDDDDD;
  --accent-color-3: #D1D1D1;
  --accent-color-4: #c4c4c4;
  --text-color: #171717;
  --current-color: var(--accent-color);
  --current-fill-color: var(--text-color);

  --darkmode-toggle-translate: 50%;
}

.dark-mode {
  --background-color: #202124;
  --accent-color: #292A2D;
  --accent-color-1: #2E2F33;
  --accent-color-2: #35363B;
  --accent-color-3: #3d3e43;
  --text-color: #fff;
  --current-color: var(--accent-color);
  --current-fill-color: var(--text-color);

  --card-shadow: 0 0 20px 0 #111;
  --btn-shadow: 0 4px 12px 0 var(--background-color);

  --darkmode-toggle-translate: -52.5%;
}