:root {
  --icon-toggle-shadow: inset 0px 0px 0px 1.5px var(--icon-color);
  --icon-toggle-shadow-hover: inset 0px 0px 0px 1.5px var(--icon-color);
  
  --tablet: 768px;

  /*
  ** Lightmode variables
  */
  --tooltip-shadow: 0 4px 12px 0 var(--note-color-15);
  --column-shadow: -10px 2px 20px 0px var(--note-color-9);
  --column-top-shadow: 0 12px 20px 0 var(--note-color-5);
  --column-bottom-shadow: 0 -12px 20px 0 var(--note-color-5);
  --navbar-shadow: 0 0 20px 0 var(--note-color-9);
  --intense-shadow: 0 4px 12px var(--note-color-45);
  
  --note-color: red;
  --neutral-color: red;
  --background-color: #F1ECE6;
  --accent-color: #eee4d7;
  --accent-color-1: #F1ECE6;
  --accent-color-2: #ECDDCB;
  --line-color: var(--note-color);
  --icon-color: var(--note-color);
  --text-color: #171717;
  --navbar-color: var(--background-color);
  --newletter-submit-border: var(--note-color);
  --code-block: var(--note-color-5);
  --close-button: #E4CEB4;
  
  --note-color-45: rgba(255, 0, 0, 0.45);
  --note-color-15: rgba(255, 0, 0, 0.15);
  --note-color-9: rgba(255, 0, 0, 0.1);
  --note-color-5: rgba(255, 0, 0, 0.05);

  --darkmode-toggle-translate: 50%;
}

.dark-mode {
  --tooltip-shadow: 0 4px 12px 0 var(--background-color);
  --column-shadow: -10px 0px 20px 0px var(--background-color);
  --column-top-shadow: 0 12px 20px 0 var(--background-color);
  --column-bottom-shadow: 0 -12px 20px 0 var(--background-color);
  --navbar-shadow: 0 12px 20px 0 var(--background-color);
  --intense-shadow: var(--tooltip-shadow);

  --note-color: #00FFAA;
  --neutral-color: #777;
  --background-color: #201f23;
  --accent-color: #292A2D;
  --accent-color-1: #2E2F33;
  --accent-color-2: #35363B;
  --line-color: var(--accent-color-1);
  --icon-color: #fff;
  --navbar-color: var(--accent-color);
  --text-color: #fff;
  --newletter-submit-border: rgba(255, 255, 255, 0.2);
  --code-block: var(--accent-color-1);
  --close-button: var(--accent-color-2);
  
  --backdrop-color: rgba(31, 32, 35, 0.6);


  --darkmode-toggle-translate: -52.5%;
}