button {
	box-shadow: none;
	border: none;
}

.btn {
	@include interface-type-sm;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: toRem(8px);
	height: toRem(28px);
	border-radius: toRem(28px);
	padding: 0 toRem(7px) 0 toRem(9px);
	background-color: var(--color-text);
	color: var(--color-background);
	white-space: nowrap;
	transform-origin: 50% 50% 0px;
	transition: all 0.3s ease;

	.btn-content {
		display: flex;
		align-items: center;
		gap: toRem(8px);
		transform-origin: 50% 50% 0px;
	}

	&:focus-visible {
		outline: none;
		box-shadow: var(--shadow-focus);
	}
}

.btn-icon {
	all: unset;
	padding: toRem(4px);
	font-size: 16px;
	color: var(--color-text-accent);
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		color: var(--color-text);
	}
}

.btn-none {
	background-color: transparent;
	color: var(--color-background);
	text-transform: lowercase;
	padding: 0;
	margin: 0;
	gap: 0;
}

.btn-link {
	background-color: transparent;
	color: var(--color-text-accent);
	text-transform: lowercase;
	padding: toRem(4px);
	margin: toRem(-4px);
	border-radius: 4px;
	gap: 0;

	&:hover {
		background-color: transparent;
		color: var(--color-text);
	}

	&:focus-visible {
		outline: none;
		box-shadow: var(--shadow-focus);
	}
}

.btn-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	color: var(--color-text-accent);
	text-transform: lowercase;
	width: toRem(24px);
	height: toRem(24px);
	padding: 0;
	margin: 0;
	border-radius: 50%;
	gap: 0;

	&:hover {
		background-color: transparent;
		color: var(--color-text);
	}

	&:focus-visible {
		outline: none;
		box-shadow: var(--shadow-focus);
	}
}
