@use 'functions';
@use 'mixins';

button {
	box-shadow: none;
	border: none;
}

.btn {
	@include mixins.interface-type-sm;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: functions.toRem(8px);
	height: functions.toRem(28px);
	border-radius: functions.toRem(28px);
	padding: 0 functions.toRem(7px) 0 functions.toRem(9px);
	background-color: var(--color-button);
	white-space: nowrap;
	transform-origin: 50% 50% 0px;
	transition: all 0.3s ease;

	.btn-content {
		display: flex;
		align-items: center;
		gap: functions.toRem(8px);
		transform-origin: 50% 50% 0px;
	}

	&:hover {
		background-color: var(--color-button-hover);
		color: var(--color-text);
	}

	&:focus-visible {
		outline: none;
		box-shadow: var(--shadow-focus);
	}
}

.btn-icon {
	all: unset;
	padding: functions.toRem(4px);
	font-size: 16px;
	color: var(--color-text-accent);
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		color: var(--color-text);
	}
}
