@font-face {
	font-family: 'X';
	src: url('../fonts/Sohne/X-light.woff2') format('woff2'),
		url('../fonts/Sohne/X-light.woff') format('woff');
	font-style: normal;
	font-weight: 300;
	font-display: block;
}
@font-face {
	font-family: 'X';
	src: url('../fonts/Sohne/X.woff2') format('woff2'), url('../fonts/Sohne/X.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: block;
}
