@font-face {
	font-family: 'X';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/calibre/Calibre-Light.woff2') format('woff2'),
		url('/fonts/calibre/Calibre-Light.woff') format('woff');
}
@font-face {
	font-family: 'X';
	font-style: italic;
	font-weight: 300;
	src: url('/fonts/calibre/Calibre-LightItalic.woff2') format('woff2'),
		url('/fonts/calibre/Calibre-LightItalic.woff') format('woff');
}
@font-face {
	font-family: 'X';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/calibre/Calibre-Regular.woff2') format('woff2'),
		url('/fonts/calibre/Calibre-Regular.woff') format('woff');
}
@font-face {
	font-family: 'X';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/calibre/Calibre-RegularItalic.woff2') format('woff2'),
		url('/fonts/calibre/Calibre-RegularItalic.woff') format('woff');
}
@font-face {
	font-family: 'X';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/calibre/Calibre-Medium.woff2') format('woff2'),
		url('/fonts/calibre/Calibre-Medium.woff') format('woff');
}
@font-face {
	font-family: 'X';
	font-style: italic;
	font-weight: 500;
	src: url('/fonts/calibre/Calibre-MediumItalic.woff2') format('woff2'),
		url('/fonts/calibre/Calibre-MediumItalic.woff') format('woff');
}
@font-face {
	font-family: 'X';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/calibre/Calibre-Semibold.woff2') format('woff2'),
		url('/fonts/calibre/Calibre-Semibold.woff') format('woff');
}
@font-face {
	font-family: 'X';
	font-style: italic;
	font-weight: 600;
	src: url('./fonts/calibre/Calibre-SemiboldItalic.woff2') format('woff2'),
		url('./fonts/calibre/Calibre-SemiboldItalic.woff') format('woff');
}
@font-face {
	font-family: 'X';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/calibre/Calibre-Bold.woff2') format('woff2'),
		url('/fonts/calibre/Calibre-Bold.woff') format('woff');
}
@font-face {
	font-family: 'X';
	font-style: italic;
	font-weight: 700;
	src: url('/fonts/calibre/Calibre-BoldItalic.woff2') format('woff2'),
		url('/fonts/calibre/Calibre-BoldItalic.woff') format('woff');
}
