@use 'functions';

@mixin lh-trim-logo {
	font-size: functions.toRem(15.3203px);
	line-height: functions.toRem(22px);
	letter-spacing: -0.009em;

	&::before {
		content: '';
		margin-bottom: -0.403em;
		display: table;
	}

	&::after {
		content: '';
		margin-top: -0.315em;
		display: table;
	}
}

@mixin lh-trim-p {
	font-size: functions.toRem(15.3203px);
	line-height: functions.toRem(26px);

	&::before {
		content: '';
		margin-bottom: -0.5335em;
		display: table;
	}

	&::after {
		content: '';
		margin-top: -0.4455em;
		display: table;
	}
}

@mixin lh-trim-element {
	font-size: functions.toRem(13.9276px);
	line-height: functions.toRem(20px);
	letter-spacing: -0.009em;

	&::before {
		content: '';
		margin-bottom: -0.403em;
		display: table;
	}

	&::after {
		content: '';
		margin-top: -0.315em;
		display: table;
	}
}
