@use 'functions';

@mixin lh-trim-element {
	font-size: functions.toRem(13.9276px);
	line-height: functions.toRem(19px);
	letter-spacing: -0.009em;

	&::before {
		content: '';
		margin-bottom: -0.403em;
		display: table;
	}

	&::after {
		content: '';
		margin-top: -0.315em;
		display: table;
	}
}

@mixin element-md {
	font-size: 15.4725px;
	line-height: 20px;

	&::before {
		content: '';
		margin-bottom: -0.2772em;
		display: table;
	}

	&::after {
		content: '';
		margin-top: -0.3045em;
		display: table;
	}
}
