.grid {
	* {
		grid-column: body;
	}
	.content {
		grid-column: content;
	}
	.main {
		grid-column: main;
	}
	.full {
		grid-column: full;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		@include type-body;
		grid-column: body;
		color: var(--color-text);
		font-weight: 500;
		margin-top: toRem(20px);
		margin-bottom: toRem(20px);
	}

	p {
		@include type-body;
		grid-column: body;
		font-weight: 400;
		margin-bottom: toRem(40px);
		color: var(--color-text-body);
		transition: all 0.2s ease;

		@media (max-width: 640px) {
			@include type-body-sm;
			margin-bottom: 32px;
		}

		strong {
			font-weight: 500;
			color: var(--color-text);
		}

		a {
			color: var(--color-text-body);
			text-decoration: underline;
			text-decoration-color: var(--color-text-underline);
			&:hover {
				color: var(--color-text-accent);
				text-decoration-color: var(--color-text-accent-underline);
			}

			&:focus-visible {
				outline: none;
				box-shadow: var(--shadow-focus);
			}
		}

		.active {
			color: var(--color-primary);
		}
	}

	img {
		grid-column: content;
		max-width: 100%;
		height: auto;
		margin: toRem(8px) auto toRem(48px) auto;
	}

	pre {
		grid-column: content;
		position: relative;
		z-index: 1;
		background: transparent;
		margin-bottom: toRem(40px);
		overflow-x: auto;
		padding: toRem(28px) 0;
		border-radius: toRem(8px);
		direction: ltr;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;

		code {
			display: block;
			padding: 0 toRem(28px);
			width: fit-content;
			min-width: 100%;
			font-size: toRem(14px);
			line-height: 1.5882352941;
			transition: all 0.5s ease;
			direction: ltr;
			text-align: left;
			white-space: pre;
			word-spacing: normal;
			word-break: normal;
			word-wrap: normal;
			-moz-tab-size: 2;
			-o-tab-size: 2;
			tab-size: 2;
			-webkit-hyphens: none;
			-moz-hyphens: none;
			-ms-hyphens: none;
			hyphens: none;
		}

		@media (max-width: 640px) {
			padding: toRem(20px) 0;
			margin-bottom: toRem(32px);

			code {
				padding: 0 toRem(20px);
				font-size: toRem(12px);
				line-height: 1.5;
			}
		}
	}

	:not(pre, h1, h2, h3, h4, h5, h6) > code {
		background-color: var(--color-code);
		color: var(--color-text-body);
		padding: toRem(3px) toRem(6px);
		border-radius: toRem(4px);
		font-family: var(--font-mono);
		font-size: toRem(14px);
	}

	hr {
		grid-column: body;
		border: none;
		height: toRem(1px);
		background-color: var(--color-text-accent-underline);
		margin: toRem(40px) 0;
	}

	aside {
		position: relative;
		grid-column: aside-right;
		transition: all 0.2s ease;

		p {
			color: var(--color-text-accent);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: fit-content;
			@include type-body-xs;
			max-height: fit-content;
			font-weight: 400;
			transition: all 0.2s ease;
		}

		&.active {
			p {
				color: var(--color-text-aside);
			}

			.aside-link {
				color: var(--color-background);
				background-color: var(--color-text);
				border-color: var(--color-text);
			}
		}

		@media (max-width: 1224px) {
			grid-column: body !important;
			order: 1;

			p {
				position: relative;
				margin-bottom: toRem(28px);
			}
		}
	}

	.aside-link {
		position: relative;
		top: toRem(-6px);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: toRem(17px);
		height: toRem(17px);
		border: 1px solid var(--color-text-accent-underline);
		border-radius: 50%;
		font-size: toRem(9px);
		line-height: toRem(9px);
		font-weight: 700;
		text-decoration: none;
		text-align: center;
		margin: 0 toRem(4px);
		transition: all 0.2s ease;
		color: var(--color-text);

		&:hover,
		&.active {
			color: var(--color-background);
			background-color: var(--color-text);
			border-color: var(--color-text);
		}
	}

	.reverse-link {
		margin-left: toRem(-4px);
		margin-right: toRem(2px);
		top: toRem(-4px);
	}
}
