.spacer-md {
	height: var(--spacer-md);
	grid-column: full-start / full-end;
}
.spacer-lg {
	height: calc(var(--spacer-md) * 2);
	grid-column: full-start / full-end;
}
.spacer-xl {
	height: calc(var(--spacer-md) * 3);
	grid-column: full-start / full-end;
}
