@use 'functions' as functions;
@use 'mixins' as mixins;

.grid {
	position: relative;
	display: grid;
	grid-template-columns:
		[full-start] minmax(functions.toRem(28px), 1fr) [main-start content-start] functions.toRem(28px)
		[body-start] functions.toRem(440px) [body-end] functions.toRem(28px) [content-end] functions.toRem(
			28px
		)
		[aside-start] functions.toRem(280px) [aside-end main-end] functions.toRem(28px) [toc-start] minmax(
			functions.toRem(28px),
			1fr
		)
		[toc-end full-end];
	min-height: 100%;
	align-content: start;
	font-size: functions.toRem(15.3203px);
	width: 100%;
	padding: functions.toRem(124px) 0;
	max-width: calc(100% - functions.toRem(204px));
	transform: translateX(functions.toRem(204px));
	transition: all 0.3s ease-in-out;
	z-index: 50;
	background-color: var(--color-background);
	header {
		display: none;
	}
	@media (max-width: functions.toRem(1088px)) {
		max-width: 100%;
		transform: translateX(0);
		padding-top: var(--spacer-lg);
		header {
			display: block;
			margin-bottom: var(--spacer-lg);

			h1 {
				@include mixins.lh-trim-logo;
				a {
					color: var(--color-text-dark);
				}
				span {
					color: var(--color-text-light);
				}
			}
		}
	}
	@media (max-width: functions.toRem(880px)) {
		grid-template-columns:
			[full-start] minmax(functions.toRem(28px), 1fr)
			[main-start content-start body-start aside-start] functions.toRem(432px)
			[main-end content-end body-end aside-end] minmax(functions.toRem(28px), 1fr) [full-end];
	}
	@media (max-width: functions.toRem(488px)) {
		display: block;
		padding-left: functions.toRem(24px);
		padding-right: functions.toRem(24px);
		header {
			margin-bottom: calc(var(--spacer-lg) * 2);
		}
	}
}

.spacer-md {
	height: var(--spacer-md);
	grid-column: full-start / full-end;
}
.spacer-lg {
	height: calc(var(--spacer-md) * 2);
	grid-column: full-start / full-end;
}
.spacer-xl {
	height: calc(var(--spacer-md) * 3);
	grid-column: full-start / full-end;
}
.spacer-body {
	height: functions.toRem(124px);
}

.container {
	padding: functions.toRem(124px) 0;
}
