:root {
	--font-primary: X, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	--spacer-md: 2.7em;
	--spacer-lg: 2.925em;

	--color-background: #fff;
	--color-background-accent: #f8f8f8;
	--color-line: #eee;
	--color-underline: #e0e0e0;
	--color-text-dark: #000;
	--color-text-normal: #151515;
	--color-text-light: #999;
}
