@use 'functions';
@use 'mixins';
@use 'fonts';
@use 'variables';
@use 'reset';
@use 'buttons';
@use 'keyframes';
@use 'typography';

html {
	overflow-x: hidden;
}

html,
body {
	background-color: var(--color-background);
	font-family: var(--font-primary);
	font-size: 16px;
	color: var(--color-text);
	line-height: 1.45;
}

#root {
	min-height: 100%;
}

a,
button {
	color: var(--color-text-accent);
	text-decoration: none;
	transition: all 0.3s ease;
	border-radius: 2px;
	&:hover {
		color: var(--color-text);
	}
}
