@import 'functions';
@import 'mixins';
@import 'fonts';
@import 'variables';
@import 'reset';
@import 'buttons';
@import 'keyframes';
@import 'typography';

html {
	overflow-x: hidden;
}

html,
body {
	background-color: var(--color-background);
	font-family: var(--font-primary);
	font-size: 16px;
	color: var(--color-text);
	line-height: 1.45;
	height: 100%;
}

#root {
	min-height: 100dvh;
	height: 100%;
}

a,
button {
	color: var(--color-text-accent);
	text-decoration: none;
	transition: all 0.3s ease;
	border-radius: 2px;
	&:hover {
		color: var(--color-text);
	}
}

.meta {
	position: fixed;
	z-index: 499;
	transition: all 0.3s ease;
	@media (max-width: 640px) {
		display: none;
		visibility: hidden;
	}
}

.preview-lg {
	position: relative !important;
	height: calc(100% - var(--space-container-v) * 2) !important;
	width: calc(100% - var(--space-container-h) * 2) !important;
	border-radius: toRem(16px) !important;
	overflow: hidden !important;
	@media (min-width: 1512px) {
		width: calc(100% - 10dvw) !important;
		height: calc(100% - 10dvh) !important;
	}
}
