@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
  font-display: swap;
  src: url("~assets/fonts/Inter/Inter.var.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: 'Italic';
  font-display: swap;
  src: url("~assets/fonts/Inter/Inter-italic.var.woff2") format("woff2");
}

a {
  text-decoration: underline;
  color: inherit;
  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  // font-size: 60px;
  font-weight: 900;
  font-size: 28px;
}
p {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 0;
  margin: 8px 0;
}
code {
  border: 1px solid var(--subtle-text);
  background: var(--line);
  padding: 0 4px;
  border-radius: 2px;
  font-size: 0.85em;
  position: relative;
  top: -1px;
  border-radius: 4px;
}