.tenk-widget {
  border: 1px solid var(--line);
  border-radius: 8px;
  margin-bottom: var(--margin);
  color: var(--text);
  transition: all 0.1s ease-in-out;
  position: relative;
}
.tenk-widget-header {
  position: absolute;
  top: -12px;
  right: 8px;
}
.tenk-widget-content {
  position: relative;
  z-index: 3;
}
.tenk-var {
  font-size: 11px;
  transition: all .1s ease-in-out;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  color: var(--subtle-text);
  line-height: 20px;
}
.tenk-header {
  display: inline-block;
  background: var(--line);
  color: var(--subtle-text);
  border-radius: 16px;
  padding: 4px 12px 5px 12px;
  font-size: 12px;
}