:root {
  // Colors
  --background: #fff;
  --text: #121215;
  --line: #eee;
  --subtle-text: #c3c3c3;

  // Spacing
  --column: 55ch;
  --margin: 20px;

  // Darkmode
  --darkmode-shadow: inset 0px 0px 0px 2px var(--text);
  --darkmode-shadow-hover: inset 0px 0px 0px 1.5px var(--text);
  --darkmode-translate: 50%;
}

.dark-mode {
  // Colors
  --background: #121215;
  --text: #fff;
  --line: rgba(255, 255, 255, 0.2);
  --subtle-text: #bbbbc4;

  // Darkmode
  --darkmode-translate: -52.5%;
}