:root {
  // Colors
  --background: #fff;
  --background-alt: #fafafa;
  --line: #eee;
  --text: #121215;
  --subtle-text: #b3b3b3;

  // Spacing
  --column: 56ch;
  --margin: 20px;

  // Darkmode
  --darkmode-shadow: inset 0px 0px 0px 2px var(--text);
  --darkmode-shadow-hover: inset 0px 0px 0px 1.5px var(--text);
  --darkmode-translate: 50%;
}

.dark-mode {
  // Colors
  --background: #121215;
  --background-alt: #26262C;
  --line: #3D3D3E;
  --text: #fff;
  --subtle-text: #bbbbc4;

  // Darkmode
  --darkmode-translate: -52.5%;
}