/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@font-face {
	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 300 900;
	src:
    url('/fonts/satoshi/Satoshi-Variable.woff2') format('woff2 supports variations'),
    url('/fonts/satoshi/Satoshi-Variable.woff2') format('woff2-variations');
}
@font-face {
	font-family: 'Satoshi';
	font-style: italic;
	font-weight: 300 900;
	src:
    url('/fonts/satoshi/Satoshi-VariableItalic.woff2') format('woff2 supports variations'),
    url('/fonts/satoshi/Satoshi-VariableItalic.woff2') format('woff2-variations');
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font);
  margin: 0;
}

main, body {
  background-color: var(--bg);
  color: var(--text);
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.external-link {
  transition: all .2s ease;
  &::after {
    display: inline-block;
    content: "→";
    color: var(--text);
    will-change: transform, opacity;
    opacity:0;
    transition: all .2s ease;
  }

  &:hover {
    &::after {
      transform: rotate(-45deg) translateY(-1px) translateX(4px);
      opacity:1;
    }
  }
}